.body_header_nav{
    height: 50px;
    width: 100%;

    .header_nav_list{
        display: flex;
        justify-content: space-evenly;
        line-height: 50px;
        
        a{
            color: black;
        }
    }
}

.body_main{
    background-image: url(../fotos/fondo.jpg);
    height: 1200px;
    .main_form{
        margin: auto;
        display: flex;
        justify-content: center;
        margin: 10px 0px 20px;        
        #nombre{
            width: 200px;
            padding: 10px;
            text-align: center;
            border: none;
            border-radius: 5px;
            margin-right: 15px;
            background-color: rgb(199, 0, 66);
            transition: 0.5s;

            &:focus {
                transform: scale(1.1, 1.1);
                transition: 0.5s;
            }
            &::placeholder{
                color: white;
            }
        }
        #enviar{
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: rgb(199, 0, 66);
            color: white;
            transition: 0.2s;

            &:hover {
                background-color: rgb(90, 0, 30);
                transition: 0.2s;
            }
        }
    }
    .titulo{
        margin: 20px 50px;
    }
    .body_main_section_1{
        display: flex;
        justify-content: center;
    
        .boton_juego{
            padding: 15px;
            margin: 0px 20px;
        }
    }
    .body_main_section_2{
        .contenedor_busqueda{
            display: flex;
            justify-content: center;
            margin: 40px;

            .input_busqueda{
                width: 200px;
                padding: 10px;
                text-align: center;
                border: none;
                border-radius: 5px;
                margin-right: 5px;
                background-color: rgb(199, 0, 66);
                transition: 0.5s;

                &:focus {
                    transform: scale(1.1, 1.1);
                    transition: 0.5s;
                }
                &::placeholder{
                    color: white;
                }
            }
            .boton_restart{
                padding: 10px;
                margin-left: 10px;
                border: none;
                border-radius: 5px;
                background-color: rgba(199, 0, 66, 0.5);
                color: white;
                transition: 0.2s;

                &:hover {
                    background-color: rgb(90, 0, 30);
                    transition: 0.2s;
                }
            }
            .input_enviar_busqueda{
                padding: 10px;
                margin-left: 10px;
                border: none;
                border-radius: 5px;
                background-color: rgb(199, 0, 66);
                color: white;
                transition: 0.2s;

                &:hover {
                    background-color: rgb(90, 0, 30);
                    transition: 0.2s;
                }
            }
        }
        .section_carrito{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            border: 2px solid white;
            border-bottom: none;
            border-top: none;
            width: 1000px;
            div{
                background-color: rgba(0, 0, 0, 0.5);
                width: 140px;
                height: 140px;
                margin: 30px 40px;
                border-radius: 5px;
                box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.6);
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                p{
                    color: white;
                    margin: 10px 0px;
                }
                h3{
                    color: white;
                }
            }
        }
        .section_desaparece{
            display: none;
        }
        .resultado_busqueda{
            display: block;
            margin: auto;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 140px;
            height: 140px;
            border-radius: 5px;
            box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            p{
                color: white;
                margin: 10px 0px;
            }
        }
    }
    #boton_rojo{
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid black;
    }
    #boton_azul{
        background-color: rgba(4, 0, 255, 0.5);
        border: 2px solid black;
    }
    #boton_verde{
        background-color: rgba(60, 255, 0, 0.5);
        border: 2px solid black;
    }
}



// CLASES JAVASCRIPT
.rojo{
    background-color: rgba(255, 0, 0, 0.5);
}
.azul{
    background-color: rgba(4, 0, 255, 0.5);
}
.verde{
    background-color: rgba(60, 255, 0, 0.5);
}
.desaparece{
    display: none;
}