.body_header_nav{
    height: 50px;
    width: 100%;

    .header_nav_list{
        display: flex;
        justify-content: space-evenly;
        line-height: 50px;
        
        a{
            color: black;
        }
    }
}

.body_main{
    background-image: url(/ProyectoJS/fotos/fondo.jpg);
    height: 1200px;
    .main_form{
        margin: auto;
        display: flex;
        flex-direction: column;
        
        input{
            width: 200px;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px;
            text-align: center;
            border: none;
            border-radius: 5px;
        }
        #nombre{
            margin-top: 20px;
            background-color: rgb(199, 0, 66);
            transition: 0.5s;

            &:hover {
                transform: scale(1.1, 1.1);
                transition: 0.5s;
            }
            &:focus {
                transform: scale(1.1, 1.1);
                transition: 0.5s;
            }
            &::placeholder{
                color: white;
            }
        }
        #enviar{
            background-color: rgb(199, 0, 66);
            color: white;

            &:hover{
                background-color: rgba(255, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }
    .titulo{
        margin: 20px 50px;
    }
    .body_main_section_1{
        display: flex;
        justify-content: center;
    
        .boton_juego{
            padding: 15px;
            margin: 0px 20px;
        }
    }
    #boton_rojo{
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid black;
    }
    #boton_azul{
        background-color: rgba(4, 0, 255, 0.5);
        border: 2px solid black;
    }
    #boton_verde{
        background-color: rgba(60, 255, 0, 0.5);
        border: 2px solid black;
    }
}



// CLASES JAVASCRIPT
.rojo{
    background-color: rgba(255, 0, 0, 0.5);
}
.azul{
    background-color: rgba(4, 0, 255, 0.5);
}
.verde{
    background-color: rgba(60, 255, 0, 0.5);
}
.desaparece{
    display: none;
}